/* font-family: 'Poppins', sans-serif; */
/* font-family: 'PT Serif', serif; */
/* body {
    max-width: 70%;
} */

/* Header */
.header {
    display: flex;
    justify-content: center;
    column-gap: 22rem;
    margin-bottom: 4rem;
}

.header h1 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

.header .container {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    max-width: 27.5rem;
}

.header .container h3 {
    font-weight: 600;
}
.header .container p {
    font-weight: 400;
}

/* Grid-container */
.image-card {
    max-width: 16.25rem;
}

img {
    max-width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(12, 100px);
    justify-content: center;
    padding-bottom: 8rem;
    row-gap: .7rem;
}

/* Grid images */
.one {
    grid-row: 1 / span 4;
    grid-column: 1 / span 1;
}

.two {
    grid-row: 2 /span 4;
    grid-column: 2 / span 1;
}
.three {
    grid-row: 1 / span 4;
    grid-column: 3 / span 1;
}
.four {
    grid-row: 6 /span 4;
    grid-column: 3 / span 1;
}
.five {
    grid-row: 6 /span 4;
}
.six {
    grid-row: 7 /span 4;
}

/*Image Captions */
span {
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    display: inline-block;
}

.wrapper {
    display: flex;
}

.rotate {
    writing-mode: vertical-lr;
    padding-left: .7rem;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-top: .7rem;
    padding-bottom: .7rem;
}

/* Design for mobile devices */
@media only screen and (max-width: 480px) {
    .header {
        flex-direction: column;
    }

    .grid-container {
        grid-template-columns: repeat(2, 160px);
        grid-template-rows: repeat(12, 50px);
        row-gap: 3rem;
        column-gap: 1.5rem;
    }
    .one {
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
    }
    .two {
        grid-column: 2 / span 1;
        grid-row: 2 / span 3;
    }
    .three {
        grid-column: 1 / span 1;
        grid-row: 5 / span 3;
    }
    .four {
        grid-column: 2 / span 1;
        grid-row: 6 / span 3;
    }
    .five {
        grid-column: 1 / span 1;
        grid-row: 9 / span 3;
    }
    .six {
        grid-column: 2 / span 1;
        grid-row: 10 / span 3;
    }

    .name {
        font-size: 0.875rem;
    }
    .rotate {
        font-size: 0.625rem;
        padding: 2px;
    }
}